/* tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tasklist {
    column-count: 1;
    column-gap: 0px;
    break-inside: avoid;
}

@media (min-width: 768px) {
    .tasklist {
        column-count: 2
    }
}

.task {
    padding: 0.5rem;
    break-inside: avoid;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}